body {
    background-color: antiquewhite;
    margin: 100px;
}

.admonitionblock table{
    margin-left: auto;
    margin-right: auto;
}

.admonitionblock td {
    text-align: left;
    font-size:35px;
    padding: 15px;
}

.admonitionblock td.icon{
    width: 150px;
    text-align: center;
    color: red;
}

h1 {
    background-color: royalblue;
    color: red;
    align-items: center;
    text-align: center;
    text-shadow: 3px 3px black;
    padding: 50px;
    font-size: 50px;
    border-style: inset;
    border-color: red;
    border-radius: 15px;
    border-width: 5px;
}

h2 {
    color: darkblue;
    text-align: center;
    padding: 25px;
    font-size: 30px;
    border-style: solid;
    border-radius: 15px;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: black;
}

table, th, td {
    border: 3px solid;
    border-color: black;
    border-collapse: collapse;
}

table {
    margin-top: 25px;
    margin-bottom: 25px;
}

th {
    height: 70px;
    color: darkblue;
    background-color: coral;
}

td {
    text-align: center;
}

table > caption {
    text-align: center;
    color: darkblue;
    font-size: 25px;
    margin: 15px;
}

#footer {
    padding: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: royalblue;
    border-style: inset;
    border-color: red;
    border-radius: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
