body {
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: black;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    color: orange;
    align-items: center;
    text-align: center;
    text-shadow: 3px 3px black;
    padding: 30px;
    font-size: 50px;
    margin-bottom: 50px;
}

h1 img {
    border-style: solid;
    border-color: red;
    margin-right: 25px;
}

h2 {
    color: navy;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    font-size: 30px;
    background-color: orange;
    transition: 0.5s;
}

h2:hover {
    transform: scale(1.05);
}

#toc {
    pading: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: dodgerblue;
    color: dodgerblue;
    border-style: solid;
    text-align: center;
}

#toc > ul {
    padding: 0px;
}

#toc > ul > li {
    background-color: orange;
    color: dodgerblue;
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#toc > ul > li:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#toc > ul > li > a {
    color: navy;
    display: block;
    text-decoration: none;
    font-size: 25px;
}

#toc > ul > li > ul {
    padding: 10px;
    column-count: 2;
}

#toc > ul > li > ul > li {
    background-color: indianred;
    color: dodgerblue;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    display: block;
    transition: transform 0.5s;
}

#toc > ul > li > ul > li:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
}

#toc > ul > li > ul > li > a {
    color: navy;
    display: block;
    text-decoration: none;
}
    
p {
    font-family: verdana;
    font-size: 20px;
}

table, th, td {
    border: 3px solid;
    border-color: black;
    border-collapse: collapse;
}

table {
    margin-top: 25px;
    margin-bottom: 25px;
    table-layout: auto;
}

th {
    height: 70px;
    color: darkblue;
    background-color: coral;
    padding: 5px;
}

td {
    text-align: center;
    padding: 5px;
}

tr {
    transition: 0.5s;
}

table > caption {
    text-align: center;
    color: darkblue;
    font-size: 25px;
    margin: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.admonitionblock {
    transition: 0.5s;
}

.admonitionblock table{
    margin-left: auto;
    margin-right: auto;
}

.admonitionblock td {
    text-align: left;
    font-size:25px;
    padding: 20px;
    background-color: #f2f2f2;
    transition: 0.5s;
}

.admonitionblock td.icon{
    width: 150px;
    text-align: center;
    color: gold;
    font-size: 35px;
    text-shadow: 2px 1px black;
    background-color: indianred;
	
}

.admonitionblock:hover {
    transform: scale(1.05);
}

.tableblock tbody tr:hover {
    background-color: indianred;
    color: gold;
    transform: scale(1.05);
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer {
    padding: 25px;
    text-align: center;
    color: dodgerblue;
    font-size: 20px;
    background-color: coral;
    text-shadow: 1px 1px indianred;
    margin-top: 50px;
}
